<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="22" android:versionName="0.11.0" package="local.pad.uu.touchpad">
    <uses-sdk android:minSdkVersion="35" android:targetSdkVersion="35" />
    <application android:label="小米 Pad · UU 触控板适配" android:hasCode="true" android:allowBackup="false">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposeddescription" android:value="仅 UU：普通按键长按重复，三指收拢启动 Launchpad，保留双指惯性、三指导航和停留拖拽。" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
